<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813304507862-1qq0lnn5r73c76o4sn3qrc8b4j0ph568.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813304507862-1qq0lnn5r73c76o4sn3qrc8b4j0ph568</string>
	<key>API_KEY</key>
	<string>AIzaSyDL1J2SqrC6cY2a_GrCkfxCJKknHpjmujc</string>
	<key>GCM_SENDER_ID</key>
	<string>813304507862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RobinDo</string>
	<key>PROJECT_ID</key>
	<string>robindo-2eac4</string>
	<key>STORAGE_BUCKET</key>
	<string>robindo-2eac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813304507862:ios:204e171a8cadd93cce0877</string>
</dict>
</plist>