<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358928684995-v6eqjveu73l1tm5uhpo2abi7p335pj1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358928684995-v6eqjveu73l1tm5uhpo2abi7p335pj1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358928684995-8m6kjefmclua1cavrr6u5dofd27er8rh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClDZLLZ7rDJqiCsv4LKux41hx3VzTQjn8</string>
	<key>GCM_SENDER_ID</key>
	<string>358928684995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stolenflame.lockdownjourney</string>
	<key>PROJECT_ID</key>
	<string>lockdown-journey-7f120</string>
	<key>STORAGE_BUCKET</key>
	<string>lockdown-journey-7f120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358928684995:ios:f44a5d745784ce62c50f76</string>
</dict>
</plist>